<html>
 <head>
    <title>Manage Players</title>
    <link rel="stylesheet" href="/otherStyles.css">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-style: double;
  margin-left: 15.5%;
    width: 60%;
  background-color: #83e377;
  font-size: 1.2em;
}
td, th {
  border: 3px solid #c5c6c7;
  padding: 4px;
  text-align: center;
}
tr:nth-child(even) {
  color: #5F4B8BFF;
  background-color: #b9e769;
}
</style>
  </head>
  <nav class="vertical-menu-wrapper">
    <div class="vertical-menu-logo">
      <div>Team 39</div>
      <span class="open-menu-btn"><hr><hr><hr></span>
    </div>
    <body>
    <ul class="vertical-menu">
      <a href="/"><li>Main Page</li></a>
        <hr/>
        <a href="/Teams"><li>Teams</li></a>
        <hr/>
      <a href="/Player"><li>Players</li></a>
      <hr/>
      <a href="/Manager"><li>Managers</li></a>
        <hr/>
      <a href="/Coach"><li>Coach</li></a>
        <hr/>
        <a href="/Tournament"><li>Tournaments</li></a>
        <hr/>
        <a href="/Match"><li>Match</li></a>
        <hr/>
        <a href="/MatchDet"><li>Edit Match Details</li></a>
        <hr/>
        <a href="/Stadium"><li>Stadiums</li></a>
        <hr/>
        <a href="/Contact"><li>Contact Information</li></a>
    </ul>
  </nav>
  <div class="content-wrapper">
    <div class="content">
        <h2>PLAYERS</h2>
        <div class="Inner">
    <br>
    <br>
    <br>
    <div class="Manupulation">
    <ul class="buttonn">
      <li> <a href="#ex1" rel="modal:open"><button type="button" name="button" id="add">Insert</button></a></li>
      <li><a href="#ex2" rel="modal:open"><button type="button" name="button" id="update">Update</button></a> </li>
      <li><a href="#ex3" rel="modal:open"><button type="button" name="button" id="delete">Delete</button></a></li>
      <li><a href="#ex4" rel="modal:open"><button type="button" name="button" id="search">Search</button></a></li>

    </ul>

    <ul>
      <li> <div class="Addition" id="add1">
        <div id="ex1" class="modal">
          <form class="add" action="/Player" method="post">
          <input type="text" placeholder="FirstName" name="F_Name">
          <input type="text" placeholder="LastName" name="L_Name">
          <input type="text" placeholder="DOB" name="DOB">
            <input type="text" placeholder="TeamId" name="TeamId">
            <br>
          <button class="btn" type="submit" name="button">Insert</button>
          </form>
        </div>
        </div> </li>
      <li><div class="Updation" id="update1">
        <div id="ex2" class="modal">
        <form class="update" action="/Player" method="post">
        <input type="text" placeholder="Enter id" name="idU">
        <input type="text" placeholder="FirstName" name="F_NameU">
        <input type="text" placeholder="LastName" name="L_NameU">
        <input type="text" placeholder="DOB" name="DOBU">
          <input type="text" placeholder="TeamId" name="TeamIdU">
          <br>
        <button class="btn" type="submit" name="button">Update</button>
        </form>
      </div>
      </div> </li>
      <li><div class="Deletion" id="delete1">
        <div id="ex3" class="modal">
        <form class="delete" action="/Player" method="post">
        <input type="text" placeholder="Enter id" name="idD">
        <br>
        <button class="btn" type="submit" name="button">Delete</button>
        </form>
      </div>
      </div> </li>
      <li><div class="Search" id="search1">
        <div id="ex4" class="modal">
        <form class="delete" action="/Player" method="post">
        <input type="text" placeholder="Enter id" name="idS">
        <br>
        <button class="btn" type="submit" name="button">Search</button>
      </div>
        </form>
      </div> </li>

    </ul>
    </div>

<br>
<br>
<div class="xxscroll">
    <table>
      <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>TeamId</th>
        <th>TeamName</th>

      </tr>

      <% Allo.forEach(function(Allo){ %>
              <tr>
                <td><%=Allo.id%></td>
                <td><%=Allo.F_Name%></td>
                <td><%=Allo.L_Name%></td>
                <td><%=Allo.DOB.getFullYear();%>  / <%=Allo.DOB.getMonth();%> / <%=Allo.DOB.getDate();%>%></td>
                <td><%=Allo.TeamId%></td>
                <% Ello.forEach(function(Ello){ %>
                  <%if(Allo.TeamId==Ello.id){%>
                  <td><%=Ello.name%></td>
                <%}%>
              <%})%>
              </tr>
      <% })%>


    </table>
  </div>
  </div>
    </div>

    </div>
    <div class="alert alert-success" role="alert" id="AddAlert">
        <p style="text-align: center; color:white;">No Team With Matching Id registered</p>
    </div>
      </body>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <!-- jQuery Modal -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<div class="alert alert-success" role="alert" id="loginAlert">
    <p style="text-align: center; color:white;">Cannot Add Same Player twice</p>
</div>

<script>
$("#add").click(function(){
  $("#add1").show();
  $('#update1').hide();
  $('#delete1').hide();
  $('#search1').hide();
});
$("#update").click(function(){
  $("#update1").show();
  $('#delete1').hide();
  $('#search1').hide();
  $('#add1').hide();
});
$("#delete").click(function(){
  $("#delete1").show();
  $('#add1').hide();
  $('#update1').hide();
  $('#search1').hide();
});
$("#search").click(function(){
  $("#search1").show();
  $('#add1').hide();
  $('#update1').hide();
  $('#delete1').hide();
});
</script>
<script>
    $('#loginAlert').hide();
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('error');
    if(myParam == "Same_Player_Registered_Twice") {
        $('#loginAlert').show();
    }

</script>

<script>

    $('#AddAlert').hide();
    const urlParams2 = new URLSearchParams(window.location.search);
    const myParam2 = urlParams2.get('errorFK');
    if(myParam2 == "No_Team_With_That_Id") {

        alert("No Team with that ID is Registered");

        $('#AddAlert').show();
    }
</script>

<script>
$('.open-menu-btn').on('click', function(){
  if($('body').hasClass('closed-menu')){
    $('body').removeClass('closed-menu');
  }else  $('body').addClass('closed-menu');
});
</script>

<script>
$('#add1').hide();
$('#update1').hide();
$('#delete1').hide();
$('#search1').hide();
</script>


</html>
